{% extends "base.html.twig" %}

{% block title %}
	Home
{% endblock %}
{% block body %}

	<h1>Nos produits phares!</h1>
	<div
		class="row">
		{% for p in products %}
			<div class="col">
				{% include("product/_product_card.html.twig") %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo, cumque nihil quaerat culpa deserunt repudiandae veritatis sint amet omnis similique perferendis laudantium voluptatem placeat. Repellendus, reiciendis quisquam! Ex, eveniet!</p>
	<div class="row">
		{% include("shared/_assurance.html.twig") with {'color':'primary','icone':'fas fa-truck', 'text':'lorem ipsum dolor sit amet with with syntaxte and template inclusion of partial'} %}

		{% include("shared/_assurance.html.twig") with {'color':'success','icone':'fas fa-check', 'text':'lorem ipsum dolor sit amet with with syntaxte and template inclusion of partial'} %}

		{% include("shared/_assurance.html.twig") with {'color':'warning','icone':'fas fa-lock', 'text':'lorem ipsum dolor sit amet with with syntaxte and template inclusion of partial'} %}
	</div>

{% endblock %}
